body {
    
    color: white;
    margin: 2rem;
    height: 100%;
    font-family: 'Futura', sans-serif;
    text-align: left;
    min-height: 75rem;
    padding-top: 4.0rem;
    background-image: url("/static/petzilla-nose1.jpg");
    background-size: cover;
    
    opacity: 1;
    background-repeat:repeat-y;
    background-size: 95%;
    background-position: center top;
    background-color: #41166d;
}


div {
    display: block;
    width:200px;
}
form { 
    margin: 100px; 
    width:200px;
    /* text-align: justify; */
    
}

.form-group {
    
    /* text-align: justify; */
    width: 100px;
}

h1,h2,h3,h4,h5 {
    font-family: 'Futura';
    margin-left: 100px; 
    width:400px;
}

.no-margin {
    font-family: 'Futura';
    margin-left: 0px;
    width:400px;
}

.med-name {
    margin-left:0px;
}

.demo {
    font-family: 'Futura';
    margin-left: 100px; 
    width:60%;

}

ul li {
    margin: 0 auto; 
    width:200px;
  }
p {
    font-size: 18px;
    font-family:    'Futura';
    text-align: justify;
    display:inline-block;
    
}

form p{
    text-align: left;
}

img {
    display: block;
    margin: 0 auto; 
    width:200px;
}


.petzilla-header{
    background-color: #623094;
    width: 100%;
}

.btn-pet-info {
    width : 50%;
    margin-top: 2em;
}

.update-medicine {
    margin-left: 0;
    margin-top: 1em;

}

#fix-notes-width {
    width: 50%;
}



.flash-msg      { 
    background:  padding: 0.5em;
    border: 1px solid #aacbe2; 
    margin: auto;
    width: 50%;
    display: inline;
}

.accordion-body {
    color: white;
    margin-top: 2rem;
    height: 100%;
    font-family: 'Futura', sans-serif;
    text-align: left;
    min-height: 75rem;
    padding-top: 4.0rem;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center top;
    
}

.what-is {
    max-width: 100%;
    display: inline;
    margin-left:100px;
    margin-top: 100px;
    text-align: justify;
    
}

.text {
    width: 80%;
    margin-left: 100px;
    margin-bottom: 25px;
    
    margin-right: 100px;
    text-align: justify;
}

.demo-link {
    margin-left: 100px;
    font-size: 24px;
    width:100%;
}

.add-notes {

    display:none;
    
    }

    .add-pet {

        display:none;
        
        }
    .edit-form {

            display:none;
            
            }
    .add-vet {

                display:none;
                
                }
    .add-med {

                    display:none;
                    
                    }

    .add-pharm {

                        display:none;
                        
                        }

    .pet-info {
        margin: auto;
        width: 50%;
        
    }

    .btn-lg {
        background-color: #ab7dda;
        border:0px;
        color: white;
    }

    .bigger {
        width: 100%;
        background-color:#623094;
        
        
    }
                      


