{% extends 'base.html' %}
{% block title %}Petzilla - Add Your Pets{% endblock %}

{% block body %}
  <h1>Welcome to Petzilla, {{user.fname}}!!</h1>

  <h2>Navigation</h2>
  
    <!-- <li><a href="/settings">View all settings</a></li>
    <li><a href="/pets">View my pet pages</a></li> -->
    <h2>Log Out</h2>
    <form action="/logout" method='POST'>
      <input type="submit" class="btn btn-warning" value="Log Out!">
    
    </form>
      <p>

       <!-- A vertical navbar -->
<nav class="nav flex-column">

  <!-- Links -->
  <!-- <ul class="btn-group-vertical">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul> -->


        
          <!-- <button type="button" class="btn btn-primary">Apple</button>
          <button type="button" class="btn btn-primary">Samsung</button>
          <button type="button" class="btn btn-primary">Sony</button>
        </div>  -->
        {%for reminder in reminders%}
        Reorder by

        {{reminder[0].strftime('%m-%d-%Y')}} 
        {{reminder[1]}} 
        {{reminder[2]}} 


        <!-- {{reminder[0]}} for
        {{reminder[1][0]}} :
        {{reminder[1][1]}}! -->
        <br>
        {%endfor%}


          {%for pet in pets%}
        <div>
          <a href="/pets/{{pet.pet_id}}" class="btn btn-info btn-lg nav-link" role="button"> {{pet.name}}</a>
    
          {{pet.name}}'s Medicines:
          {%for medicine in pet.med_objects|sort(attribute='date_used_by')%}
         
          <h1>{{ medicine.med_name}}
          This medicine runs out on  {{medicine.date_used_by.strftime('%m-%d-%Y')}}</h1>
          Update this medicine?
          <form class="update-medicine" action="/update-medicine" method='POST'>
            
              <input type="hidden" id="med" name="med" value="{{medicine.med_id}}">
              <input type="hidden" id="pet" name="pet" value="{{pet.pet_id}}">
          
              
                 <label>Enter how many days of this medicine you have as of today:
                   <input type="number" name="update" id="update-med">
                 </label>

                 <div class="submit">
                  <button type="submit" id="update-med-button" class="btn btn-primary">Update my reminder date</button>
                </div>
                </form>
                <script src="/static/testjs.js"></script>

        
     {%endfor%}
    {%endfor%}

    </div>
  </nav> 

  {%if notes%}
  Your unique link for petsitter notes is: <a href="/dashboard-petsitter/{{notes}}"> {{notes}} -- Click here to view</a>

  {%endif%}

  {%if pets%}

  <h2>Add Notes for a Pet Sitter</h2>
  <form id="order-form" action="/make-instructions" method='POST'>
  {%for pet in pets%}
  
    This form is for {{pet.name}}

   Add your notes for {{pet.name}} here:

    <input type="hidden" id="user" name="user" value="{{user.user_id}}">
    <input type="hidden" id="pet" name="pet" value="{{pet.pet_id}}">

    
       <label>Notes
         <input type="text" name="notes" id="notes-field-{{pet.name}}">
       </label>
   
 
  

{%endfor%}



<div class="submit">
  <button type="submit" id="notes-button" class="btn btn-primary">Submit notes</button>
</div>
</form>

{%endif%}



   


  <h2>Add a Pet to Your Account</h2>
  <form class="form-inline add-pet"   action="/add-pet" method='POST' enctype=multipart/form-data>
    <p>
      Your Pet's Name <input type="text" name="pet-name">
    </p>

    <p>
      Species <input type="text" name="species">
    </p>

    <p>
        Birth Year (optional) <input type="integer" name="birth-year">
      </p>
      <p>
        Weight in pounds (optional) <input type="integer" name="weight">
      </p>
      <p>
        Upload your pet's photo! <input type="file" name="photo">
      </p>
   
    <p>
      <input type="submit" id="add-pet" class="btn btn-info" value="Add your Pet!">
    </p>
  </form>

  <script src="/static/testjs.js"></script>





{% endblock %}