{% extends 'base.html' %}
{% block title %}Petzilla - Add Your Pets{% endblock %}

{% block body %}
<h2 class="update-medicine"> Pet-Sitter Dashboard </h2>
<br>
{% if user %}

<button onclick="dashboard()" id="dashboard">Go back to my dashboard</button> 
<script src="/static/gotodashboard.js"></script>
{% endif %}



 {%for pet in pets%}
 <button class="btn-lg bigger" role="button">
{{ pet.name }} </button>
<br>
{% if pet.photo %}
<img src="{{ pet.photo }}">

{% endif %} 
<br>
{% for vet in pet.vet_objects%}
Vet Info: {{ vet.fname}} {{vet.lname}} <br>
Practice: {{vet.practice_name}} 
Phone: {{vet.phone}}
<br>
{% endfor %}
<p></p>
{%for medicine in pet.med_objects%}

<h3 class="update-medicine"> Medicine Info:  
{{ medicine.med_name}}  </h3>
    Used By:{{medicine.date_used_by.strftime('%m/%d/%Y')}} <br>
    Prescription Number: {{medicine.prescrip_num}}
    Dose Amount: {{medicine.dose_amount}} <br>
    {% if medicine.doses_per_day%}
    Doses per day: {{medicine.doses_per_day}}
    {% endif %}
    {% if medicine.doses_per_month %}
    Doses per month: {{medicine.doses_per_month}}
    {% endif %}



   
{%endfor%}
<br>
{% for pharmacy in pet.pharm_objects %}
<h3 class="pharm update-medicine">Pharmacy Info: <br>
     {{ pharmacy.pharm_name}} Phone: {{pharmacy.phone}}</h3>
{% endfor %}


<!-- {%endfor%} -->
<!-- {{instructions.notes}} -->

    <button class="btn-lg bigger" role="button"> Special Notes </button>

<br>
{% set notes_list = instructions.notes.replace("[", "").replace("]", "").replace('"', '').replace("'", "").split(',') %}
{% for note in notes_list %}
<br>
{{note}} <br>


{% endfor %}











{% endblock %} -->