{% extends 'base.html' %}

{% block title %}{{ pet.name }}'s Page{% endblock %}

{% block body %}

<button class="btn-lg" onclick="dashboard()" id="dashboard">Go back to my dashboard</button> 
<script src="/static/gotodashboard.js"></script>


<h1 class="update-medicine">Your Pet: {{ pet.name }}</h1>
{% if pet.photo %}
<img src="{{ pet.photo }}">

{% endif %}
<br>

{% if vet %}
Vet Info: {{ vet.fname}} {{vet.lname}} <br>
Practice: {{vet.practice_name}} <br>
 Phone: {{vet.phone}}
{% endif %}

<br><br>
{%for medicine in medicines%}

Medicine Info: {{ medicine.med_name}}  <br>
    Used By:{{medicine.date_used_by.strftime('%m/%d/%Y')}}
    I'll remind you on: {{medicine.reminder_date.strftime('%m/%d/%Y')}}
    <br><br>
{%endfor%}

<div class="pharm">

</div>

{% if pharmacy %}
 Pharmacy Info:<br>
  {{ pharmacy.pharm_name}} {{pharmacy.phone}}

 {% endif %}

<h3 class="update-medicine"> What would you like to do? </h3>

<button class="edit-form-button btn-lg"
type="button">
Edit this Pet's Info
</button>
<form class="form-inline edit-form"  action="/pets/{{pet.pet_id}}/edit-pet" method='POST'
  enctype=multipart/form-data>
  
 
      Weight in pounds (optional) <input type="integer" name="weight">
    </p>
    <p>
      Upload your pet's photo! <input type="file" name="photo">
    </p>
 
  <p>
    <input type="submit" class="btn btn-info" value="Edit your Pet's Info!">
  </p>
</form>


<button class="add-vet-button btn-lg">

Add a Vet
</button>

<form class="add-vet" action="/pets/{{pet.pet_id}}/add-vet" method='POST'>
  
  <input type="hidden" id="pet_id" name="pet_id" value={{pet.pet_id}}>
  <p>
    Vet's First Name <input type="text" name="vet-fname">
  </p>

  <p>
    Vet's Last Name <input type="text" name="vet-lname">
  </p>

  <p>
      Practice or Hospital Name <input type="text" name="practice-name">
    </p>
    <p>
      Email (optional) <input type="text" name="email">
    </p>
    <p>
      10-digit phone <input type="text" name="phone">
    </p>
 
  <p>
    <input type="submit" class="btn btn-info" value="Add your Pet's Vet!">
  </p>
</form>




<button class="add-med-button btn-lg"
type="button">
Add a Medicine
</button>

<form class="add-med" action="/pets/{{pet.pet_id}}/add-med" method='POST'>

  <input type="hidden" id="pet_id" name="pet_id" value={{pet.pet_id}}>
  <p>
    Medicine Name <input type="text" name="med-name">
  </p>
  <p>
    Prescription Number <input type="text" name="prescrip-num">
  </p>

  <p>
    Dose Amount (enter in milligrams) <input type="integer" name="dose-amount">
  </p>

  <p>
      Doses Per Day <input type="integer" name="doses-per-day">
    </p>
    <p>
      OR Doses Per Month <input type="integer" name="doses-per-month">
    </p>
    <p>
      Your Current Supply (enter how many days of meds 
      you have left) <input type="integer" name="days-left-at-entry">
    </p>
 
  <p>
    <input type="submit" class="btn btn-info" value="Add your Pet's Medicine!">
  </p>
</form>

   





<button class="add-pharm-button btn-lg"
type="button">
Add a Pharmacy
</button>

<form class="add-pharm" method="post" action="/pets/{{pet.pet_id}}">
  

<!-- add-pharm"> -->
  <input type="hidden" id="pet_id" name="pet_id" value={{pet.pet_id}}>
  <p>
    Pharmacy Name <input type="text" name="pharm-name">
  </p>

  <p>
    Email <input type="text" name="email">
  </p>

 
    <p>
      10-digit phone <input type="text" name="phone">
    </p>
 
  <p>
    <input type="submit" class="btn btn-info" value="Add your Pet's Pharmacy!">
  </p>
</form>
<script src="/static/testjs.js"></script>






{% endblock %}
