{% extends 'base.html' %}

{% block title %}{{ pet.name }}'s Page{% endblock %}

{% block body %}

<button onclick="dashboard()" id="dashboard">Go back to my dashboard</button> 
<script src="/static/gotodashboard.js"></script>


<h1>{{ pet.name }}</h1>
{% if pet.photo %}
<img src="{{ pet.photo }}">

{% endif %}


{% if vet %}
<h1>Vet Info: {{ vet.fname}} {{vet.lname}} {{vet.practice_name}}</h1>
{% endif %}

{%for medicine in medicines%}

<h1>Medicine Info: {{ medicine.med_name}} 
    Used By:{{medicine.date_used_by.strftime('%m/%d/%Y')}}
    I'll remind you on: {{medicine.reminder_date.strftime('%m/%d/%Y')}}</h1>
{%endfor%}

<div class="pharm">

</div>

{% if pharmacy %}
<h1> Pharmacy Info: {{ pharmacy.pharm_name}} {{pharmacy.phone}}</h1> 

 {% endif %}

What would you like to do?

<button class="edit-form-button"
type="button">
Edit this Pet's Info
</button>
<form class="form-inline edit-form"  action="/pets/{{pet.pet_id}}/edit-pet" method='POST'
  enctype=multipart/form-data>
  <h2>Edit this Pet's Info</h2>
 
      Weight in pounds (optional) <input type="integer" name="weight">
    </p>
    <p>
      Upload your pet's photo! <input type="file" name="photo">
    </p>
 
  <p>
    <input type="submit" class="btn btn-info" value="Edit your Pet's Info!">
  </p>
</form>


<button class="add-vet-button"
type="button">
Add a Vet
</button>

<form class="add-vet" action="/pets/{{pet.pet_id}}/add-vet" method='POST'>
  <h2>Add a Vet for Your Pet</h2>
  <input type="hidden" id="pet_id" name="pet_id" value={{pet.pet_id}}>
  <p>
    Vet's First Name <input type="text" name="vet-fname">
  </p>

  <p>
    Vet's Last Name <input type="text" name="vet-lname">
  </p>

  <p>
      Practice or Hospital Name <input type="text" name="practice-name">
    </p>
    <p>
      Email (optional) <input type="text" name="email">
    </p>
    <p>
      10-digit phone <input type="text" name="phone">
    </p>
 
  <p>
    <input type="submit" value="Add your Pet's Vet!">
  </p>
</form>




<button class="add-med-button"
type="button">
Add a Medicine
</button>

<form class="add-med" action="/pets/{{pet.pet_id}}/add-med" method='POST'>
  <h2>Add a Medicine for Your Pet</h2>

  <input type="hidden" id="pet_id" name="pet_id" value={{pet.pet_id}}>
  <p>
    Medicine Name <input type="text" name="med-name">
  </p>
  <p>
    Prescription Number <input type="text" name="prescrip-num">
  </p>

  <p>
    Dose Amount (enter in milligrams) <input type="integer" name="dose-amount">
  </p>

  <p>
      Doses Per Day <input type="integer" name="doses-per-day">
    </p>
    <p>
      OR Doses Per Month <input type="integer" name="doses-per-month">
    </p>
    <p>
      Your Current Supply (enter how many days of meds 
      you have left) <input type="integer" name="days-left-at-entry">
    </p>
 
  <p>
    <input type="submit" value="Add your Pet's Medicine!">
  </p>
</form>

   





<button class="add-pharm-button"
type="button">
Add a Pharmacy
</button>

<form class="add-pharm" method="post" action="/pets/{{pet.pet_id}}">
  <h2>Add a Pharmacy for Your Pet</h2>

<!-- add-pharm"> -->
  <input type="hidden" id="pet_id" name="pet_id" value={{pet.pet_id}}>
  <p>
    Pharmacy Name <input type="text" name="pharm-name">
  </p>

  <p>
    Email <input type="text" name="email">
  </p>

 
    <p>
      10-digit phone <input type="text" name="phone">
    </p>
 
  <p>
    <input type="submit" value="Add your Pet's Pharmacy!">
  </p>
</form>
<script src="/static/testjs.js"></script>






{% endblock %}
